<h1>New Response</h1>

<%= form_tag('responses/new') do %>
  
  <%  @questions.each do |question| %>
    
    <h2><%= question.content %></h2>
    
    <% case question.question_type
      when 0 %>
        <%= text_area_tag(question.id) %>
          
      <% when 1 %>
        <% question.options.each do |option| %>
          <%= label_tag("#{question.id}_#{option}", option)  %>
          <%= radio_button_tag(question.id, option) %>
          <% end %>
          
      <% when 2 %>
        <%= select_tag(question.id.to_s, options_for_select(question.options), multiple: true, size: 10 ) %>
      <% end %>
  <% end %></br>
    
  <%= submit_tag 'Submit answers' %>
<% end %>
 
<%= link_to 'Back', responses_path %>
