<h1>New Response</h1>

<%= form_for(@response) do |f| %>
  
  <%  @questions.each do |question| %>
    
    <h2><%= question.content %></h2>
    
    <% case question.question_type
      when 0 %>
        <%= text_area_tag("response[content][#{question.id}]") %>
          
      <% when 1 %>
        <% question.options.each do |option| %>
          <%= radio_button_tag("response[content][#{question.id}]", option) %>
          <%= label_tag("response_content_#{question.id}_#{option}", option)  %>
          <% end %>
          
      <% when 2 %>
        <%= select_tag("response[content][#{question.id}]", options_for_select(question.options), multiple: true, size: 10 ) %>
      <% end %>
  <% end %></br>
  
  <%= f.hidden_field :form_id %>
  <%= f.submit 'Submit answers' %>
<% end %>
 
<%= link_to 'Back', responses_path %>
