<p id="notice"><%= notice %></p>

<p>
  <strong>Form:</strong>
  <%= @response.form_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @response.content %>
</p>

<p>
  <strong>Respondent:</strong>
  <%= @response.respondent %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
